<div class="{{styles.login}}">
    {{#> Overlay}}
        <h2 class="title {{styles.title}}">
            {{staticData.title}}
        </h2>

        {{#> Form outerStyles=styles.form}}
            {{> Input tooltip=staticData.login outerStyles=styles.field}}
            {{> Input tooltip=staticData.password outerStyles=styles.field}}
            {{> Button label=staticData.submitBtn outerStyles=styles.submit-btn}}
        {{/Form}}
        {{> Link path="./sign_in" text=staticData.signInLink outerStyles=styles.link}}
    {{/Overlay}}
</div>
