.label {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tooltip {
  padding: 0.25em 0;
  margin-right: auto;
  font-size: var(--fs-meaningful);
}

.input {
  box-sizing: border-box;
  padding: 0.25em 0 0.3em;
  font-family: inherit;
  font-weight: inherit;
  text-align: right;
  border: none;
  border-radius: 5px;

  &:focus {
    background-color: var(--color-focus-input-bg-light);
    outline: none;
  }
}
