.profile {
  display: flex;
  align-items: stretch;
}

.go-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 100vh;
  background-color: var(--color-chat-list-bg);
  border-right: 1px solid var(--color-border-light);

  & button {
    margin-top: -8vh;
  }
}

.go-back:hover {
  & button {
    border: 2px solid var(--color-action);
  }

  & path {
    fill: var(--color-action);
  }

  & path:first-child {
    fill: transparent;
  }
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12vh;
  margin: auto;
}

.form {
  margin-bottom: 40px;
}

.change-password,
.change-info {
  & .icon {
    margin-bottom: 65px;
  }

  & .form {
    min-height: 300px;
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 510px;
}

.field {
  padding: 0.4em 0;
  border-bottom: 1px solid var(--color-border-light);

  &:last-child {
    border-bottom: none;
  }
}

.link {
  padding: 0.65em 0;
  font-size: var(--fs-meaningful);
  border-bottom: 1px solid var(--color-border-light);

  &:last-child {
    color: var(--color-danger);
    border-bottom: none;
  }
}
