<div class={{styles.workspace}}>
    <div class={{styles.chat-list}}>
        {{> ChatList data=chatListData staticData=staticData.chatList}}
    </div>
    <div class={{styles.chat}}>
        {{> Chat data=chatData staticData=staticData.chat}}
    </div>
</div>

