.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  text-decoration: none;
  background-color: var(--color-icon-bg-light);
  border-radius: 50%;
}
