<div class="{{styles.sign-in}}">
    {{#> overlay}}
        <h2 class="title {{styles.title}}">
            {{staticData.title}}
        </h2>

        {{#> form outerStyles=styles.form}}
            {{> input tooltip=staticData.email outerStyles=styles.field}}
            {{> input tooltip=staticData.login outerStyles=styles.field}}
            {{> input tooltip=staticData.name outerStyles=styles.field}}
            {{> input tooltip=staticData.surname outerStyles=styles.field}}
            {{> input tooltip=staticData.phone outerStyles=styles.field}}
            {{> input tooltip=staticData.password outerStyles=styles.field}}
            {{> input tooltip=staticData.passwordRepeat outerStyles=styles.field}}
            {{> Button label=staticData.submitBtn outerStyles=styles.submit-btn}}
            {{> Link path="./login" text=staticData.loginLink outerStyles=styles.link}}
        {{/form}}
    {{/overlay}}


</div>
