.overlay {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding-bottom: 15vh;
}

.center {
  box-sizing: border-box;
  width: 340px;
  padding: 45px 25px 25px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}
