:root {
  --primary-fs: "Inter", "Arial", sans-serif;
  --secondary-fs: "SourceSansPro", "Arial", sans-serif;
  --fs-base: 12px;
  --fs-tooltip: 0.75rem;
  --fs-text: 1rem;
  --fs-meaningful: 1.1rem;
  --fs-title: 1.7rem;
  --fs-large: 3.3rem;
  --lh-base: 1.2em;
  --lh-large: 1.5em;

  // light theme
  --color-action: #3369f3;
  --color-text-major: #1e1e1e;
  --color-text-minor: #999;
  --color-danger: #f00;
  --color-focus-input-bg-light: #efefef;
  --color-border-light: #efefef;
  --color-icon-bg-light: #efefef;
  --color-chat-list-bg: #fbfbfb;
}
